[Unit]
Description=openstack-database-2-data

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/docker pull dockenstack/base
ExecStart=/bin/sh -c "docker inspect openstack-database-2-data >/dev/null 2>&1 || docker run --name openstack-database-2-data -v /var/lib/mysql dockenstack/base true"

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=openstack-database-*-data.service