[Unit]
Description=openstack-database-loadbalancer

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/usr/bin/docker pull dockenstack/database:latest
ExecStart=/bin/sh -c "/usr/bin/docker run --name openstack-database-loadbalancer --rm -p 3307:3307 -p 8888:8080 -e PUBLISH=3307 -e HOST=$COREOS_PRIVATE_IPV4 dockenstack/database:latest /app/bin/loadbalancer"
ExecStop=/usr/bin/docker stop openstack-database-loadbalancer
