[mysqld]
query_cache_size=0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_type=0
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_provider=/usr/lib/galera/libgalera_smm.so
#wsrep_provider_options="gcache.size=32G"

# Galera Cluster Configuration
wsrep_cluster_name="{{ .openstack_database_cluster }}"
wsrep_cluster_address="gcomm://"

# Galera Synchronization Congifuration
wsrep_sst_method=rsync
wsrep_sst_auth={{ .openstack_database_repUser }}:{{ .openstack_database_repPass }}

# Galera Node Configuration
wsrep_node_address="{{ .openstack_database_host }}"
wsrep_node_name="mariadb_galera"