[Unit]
Description=openstack-database-data

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/docker pull dockenstack/base
ExecStart=/bin/sh -c "docker inspect openstack-glance-data >/dev/null 2>&1 || docker run --name openstack-glance-data -v /var/lib/glance/images dockenstack/base true"

[Install]
WantedBy=multi-user.target

#[X-Fleet]
#X-ConditionMachineBootID=CHANGEME

