[Unit]
Description=Openstack rabbitmq service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm -f openstack-rabbitmq-%i
ExecStartPre=-/bin/sh -c "docker pull 127.0.0.1:5555/dockenstack/rabbitmq && docker tag -f 127.0.0.1:5555/dockenstack/rabbitmq dockenstack/rabbitmq"
ExecStart=/bin/sh -c "/usr/bin/docker run --name openstack-rabbitmq-%i --rm -p 4369:4369 -p 25672:25672 -p 5672:5672 -p 15672:15672 -e PUBLISH=5672 -e HOST=$COREOS_PRIVATE_IPV4 --dns=$COREOS_PRIVATE_IPV4 -e CLUSTER=openstack dockenstack/rabbitmq:latest"
ExecStop=/usr/bin/docker stop openstack-rabbitmq-%i

[X-Fleet]
X-Conflicts=openstack-rabbitmq@*.service
