[Unit]
Description=openstack-keystone
Requires=openstack-database.service
After=openstack-database.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
#ExecStartPre=/usr/bin/docker pull paulczar/openstack-keystone
ExecStart=/bin/sh -c "/usr/bin/docker run --name openstack-keystone --rm -p 5000:5000 -p 35357:35357 -e PUBLISH=5000 -e HOST=$COREOS_PRIVATE_IPV4 paulczar/openstack-keystone"
ExecStop=/usr/bin/docker stop paulczar/openstack-keystone
